/*
Estilos da Página index2.html e contato2.html
*/
    .center {
        text-align: center;
    }
    .justify{
        text-align: justify;
    }
    .right {
        text-align: right;
    }
    .container{
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }
    .information {
        align-items: left;
        display: inline;
        margin-right: 10%;
    }
    .menu li{
        display: inline;
        padding-inline-start: 15px;
    }
    .menu li a{
        text-decoration: none;
        color: black;
        font-size: 20px;
    }
    .menu li a:hover{
        color: yellow;
    }
    .p-30{
        padding: 30px;
    }
    .b-50{
        border-radius: 50%;
    }
    .wh-300{
        width: 300px;
        height: 250px;
    }
    .tm-social{
        width: 50px;
        height: 50px;
    }
    .mb-50{
        margin-bottom: 50px;
    }



/*
Estilos da Página index2.html contato2.html
*/
