/*
Estilos da Página index2.html e contato2.html
*/
.center {
    text-align: center;
}
.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.information {
    align-items: left;
    display: inline;
    margin-right: 10%;
}
/*
Estilos da Página index2.html contato2.html
*/
